---
interface Props {
  PokemonName: string;
  PokemonArtWork: string;
  isBig?: boolean;
}

const { PokemonArtWork, PokemonName, isBig } = Astro.props;
const id = PokemonArtWork.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href={`/pokemons/${PokemonName}`}
  class={`flex flex-col rounded-lg bg-slate-800 items-center py-2 hover:-translate-y-1 transition-all`}
>
  <img transition:name={`${PokemonName}-image`} src={imageSrc} alt={`${PokemonName} Information`} class=`${isBig ? 'w-26 h-25' : 'w-16 h-16'}`/>

  <h1 class=`font-bold text-lg text-center capitalize ${ isBig ? 'text-3xl' : '' }`>#{id} {PokemonName}</h1>
</a>
