---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";

import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map((result) => ({
    params: { name: result.name },
    props: { name: result.name, PokemonArtWork: result.url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { PokemonArtWork } = Astro.props;
const id = PokemonArtWork.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title={name}
  description={`info of ${name}`}
  image={imageSrc}
>
  <section
    class="mt-10 mx-10 flex flex-col justify-center items-center text-center"
  >
    <div>
      <a href="/pokemons/1"> Regresar</a>
      <h1 class="capitalize text-5xl py-2">{name}</h1>
    </div>
  </section>

  <PokemonCard PokemonName={name} PokemonArtWork={PokemonArtWork} isBig />
  <audio controls class="mt-5">
    <source src={audioSrc} type="audio/ogg" />
    Your browser does not support the audio element.
  </audio>
</MainLayout>

<style>
  a {
    @apply hover:underline text-purple-600;
  }
</style>
